.card{
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.card-habilities{
    display: flex;
    flex-direction: column;

}

.select-class{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.buttons-add-delete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-content{
        
    max-height: 600px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    margin-top: 20px; /* Espacio superior para separación */
}